<section class="oe_container lead bi_title_box">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan bi_title" style="color:#49a3fe;">
                <b>Process Costing in Manufacturing in Odoo</b>
            </h2>
            <p class="oe_slogan">
            Process Costing in Manufacturing module is used to calculate process costing (Material Cost, Labour Cost, Overheads Cost) for manufacturing orders by this app in Odoo.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
        </div>
        <div class="oe_span6">
            
            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/f1.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Add material,labour and overhead cost</b></h4>
                    <span class="oe_slogan">Cutomer can add direct material,labour and overhead cost in bom.</span>
                </div>
            </div>

            <div class="row mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/f3.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Total Costing</b></h4>
                    <span class="oe_slogan">Display total costing BOM and Mo.</span>
                </div>
            </div>

        </div>
        <div class="oe_span6">
            
            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/3fet.png"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Pass Material,Labour and Overhead </b></h4>
                    <span class="oe_slogan">Pass material,labour and overhead cost values from selected BOM.</span>
                </div>
            </div>

            <div class="row mt32 mb32">
                <div class="col-md-3 text-center">
                    <img class="img img-responsive" style="max-width:100%;" src="features/f8.jpg"/>
                </div>
                <div class="col-md-9">
                    <h4><b>Print BOM And MO Report</b></h4>
                    <span class="oe_slogan">Print PDF reports for BOM and MO.</span>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="oe_container lead mt64">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8 mr8" title="Website" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://browseinfo.in/contact-us/" target="_blank"> Demo Request </a>
            <a class="btn mt8 ml8" title="Email on Support" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/GnSudPZQIKc" target="_blank"> Video Tutorial</a>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Configuration</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="by_product_config.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Bill of Materials - Direct Material Cost</p>
            <p class="oe_slogan">Here you can see that direct material cost automatically added based on components of the Bill Of Material.</p>
            <p class="oe_slogan">If you want to add direct material cost manually then you can also add.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_material_components.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_material.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Bill of Materials - Direct Labour Cost</p>
            <p class="oe_slogan">You can configure Direct Labour Cost on Bill of Materials.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_labour.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Bill of Materials - Direct Overhead Cost</p>
            <p class="oe_slogan">You can configure Direct Overhead Cost on Bill of Materials.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_overhead.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Bill of Materials Costing</p>
            <p class="oe_slogan">Here you can see total cost of Material,Labour and Overhead.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_total_cost.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Create Manufacturing Orders</p>
            <p class="oe_slogan">When you create manufacturing orders from BOM then selected BOM's Direct Labour Cost and Direct Overhead Cost will be filled automatically on manufacturing order.</p>
            <p class="oe_slogan">Direct Material Cost will be filled automatically based on Consumed Materials of  manufacturing order.</p>
            <p class="oe_slogan">If you want to add direct material cost manually then you can also add.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="pro_material_components.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="pro_material.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="pro_labour.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="pro_overhead.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Manufacturing Orders Costing</p>
            <p class="oe_slogan">Here you can see total cost of Material,Labour and Overhead.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="mp_total_cost.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Create Manufacturing Work order</p>
            <p class="oe_slogan">By clicking on Create Work orders button,Work order will be created with Direct Material Cost, Direct Labour Cost and Direct Overhead Cost.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="workorder_button.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Work order</p>
            <p class="oe_slogan">Click on work orders smart button to view created work orders.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="work_order_button.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Tree View Of Work order</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="work_order_tree_view.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Workorder Form View</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="wo_material.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="wo_labour.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="wo_overhead.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="wo_cost_total.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Update Product Quantity</p>
            <p class="oe_slogan">Click on Update button to update quantity on Manufacturing order.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="update_button.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Update Product Quantity Wizard</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="update_button_wizard.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Updated Product Quantity</p>
            <p class="oe_slogan">When you update Qty on Manufacturing order it will auto update all cost lines based on that.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="changed_material_qty.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="chnaged_labour_qty.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="changed_overhead_qty.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Bill of Materials Report</p>
            <p class="oe_slogan">Here you can print report for Bill of Materials.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_report_button.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">BOM Report View</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_report1.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_report2.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="bom_report3.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Manufacturing Orders Report</p>
            <p class="oe_slogan">Here you can print report for Manufacturing Orders.</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="mo_report_button.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Manufacturing Report View</p>
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="mo_report1.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="mo_report2.png">
            <br/>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="mo_report3.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;"><b>Apps May You Like</b></p>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_job_cost_estimate_customer/">
                <img class="img img-responsive" src="related/bi_job_cost_estimate_customer.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_job_cost_and_estimate_relation/">
                <img class="img img-responsive" src="related/bi_job_cost_and_estimate_relation.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_job_costing_budget_contracting/">
                <img class="img img-responsive" src="related/bi_job_costing_budget_contracting.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_material_requisition_cost_sheet/">
                <img class="img img-responsive" src="related/bi_material_requisition_cost_sheet.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_job_inspection/">
                <img class="img img-responsive" src="related/bi_job_inspection.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_job_order_card_instruction/">
                <img class="img img-responsive" src="related/bi_job_order_card_instruction.png" style="width: 100%;"/>
            </a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;"><b>Most Demanded Apps</b></p>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
                <img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
                <img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_reports/">
                <img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
                <img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
                <img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
            </a>
        </div>
        <div class="oe_span4 mt8 mb8" style="padding: 0px 5px;">
            <a href="https://apps.odoo.com/apps/modules/12.0/branch/">
                <img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
            </a>
        </div>
        
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan" style="font-size: 18px;">
        At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="img img-responsive text-center">
                <a href="http://www.browseinfo.in" target="new">
                    <img src="bi_logo.png">
                </a>
            </div>
        </div>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
            <a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in" target="_blank"> Email on Support </a>
            <a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
        </div>
    </div>
</section>
